.layout-editor-block {
  box-shadow: var(--gin-shadow-l1);
  border-radius: var(--gin-border-l);
  border: none;
  margin: .5rem .5rem .75rem .5rem;
  background-color: var(--gin-bg-app);
}

.layout-editor-block-title {
  background-color: var(--gin-bg-header);
  border-start-end-radius: var(--gin-border-m);
  border-start-start-radius: var(--gin-border-m);

  .buttons {
    width: inherit;
    min-width: 120px;
  }
}

.block-page-title-block {
  .layout-editor-block-title {
    border-radius: var(--gin-border-l);
  }
}

.layout-editor-block-content {
  background-color: var(--gin-bg-layer);
  border-end-end-radius: var(--gin-border-m);
  border-end-start-radius: var(--gin-border-m);
  border-color: var(--gin-border-color);

  .layout-flexible-editor & {
    border-radius: var(--gin-border-m);
  }
}

.layout-editor-region {
  border: 2px dashed var(--gin-border-color-form-element);
  background-color: var(--gin-bg-app);
  border-radius: var(--gin-border-l);
}

.layout-content-form {
  .region-sticky {
    background: transparent;
  }

  .page-title {
    .layout-editor-block {
      background-color: var(--gin-bg-header);
      margin: 0;
    }
  }
}

.layout-container {
  .sticky-shadow {
    box-shadow: none;
  }
}

.layout-editor-placeholder {
  border-radius: var(--gin-border-l);
  background-color: var(--gin-color-primary);
}

.layout-flexible-editor {
  .layout-editor-block-title {
    margin-bottom: 0;
  }

  .flexible-row {
    border: none;
    box-shadow: none;

    > div:first-child {
      border: 1px solid var(--gin-border-color-form-element);
      border-radius: var(--gin-border-m);
    }

    .l-flexible-row {
      margin: 0;
      padding: var(--gin-spacing-m);
      background: #fff;
      border-radius: 0 0 var(--gin-border-l) var(--gin-border-l);
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.form-item-region-count {
  .form-radio {
    float: none;
  }
}

.form-item-region-style,
.layout-settings-form .layout-options {
  .form-type-radio {
    input.form-radio {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    label {
      min-height: inherit;
      position: relative;
      z-index: 2;
      display: block;
      padding: .6em;
      border: 2px solid var(--gin-border-color);
      border-radius: 4px;
      transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
      will-change: border-color, background-color;
    }

    input[type="radio"]:checked + label {
      background-color: var(--gin-bg-header);
      border-color: var(--gin-color-primary);

      .flexible-icon-region {
        background-color: var(--gin-color-primary);
        color: #fff;
      }
    }

    input[type="radio"]:focus + label {
      border-color: var(--gin-color-focus);
    }
  }
}

.layout-settings-form .layout-options {
  .form-type-radio {
    display: flex;
    margin: 0 var(--gin-spacing-xs);

    label {
      width: 100%;
      border-radius: var(--gin-spacing-xs);
      font-weight: var(--gin-font-weight-normal);
    }

    input[type="radio"]:checked + label {
      color: var(--gin-color-primary);
      font-weight: var(--gin-font-weight-semibold);
    }
  }
}

.flexible-icon-region {
  color: var(--gin-color-text);
}

.flexible-icon {
  border: none;
}

.layout-button-link {
  margin-bottom: var(--gin-spacing-l);
}
