/*
    Gin styles for CiviCRM from a starting point of HackneyBrook.
*/

:root {
  /* Colour names */
  --crm-c-gray-025: #f9f9f9;
  --crm-c-green-light: #cff0be;
  --crm-c-green-dark: #286520;
  --crm-c-red-dark: #a21b10;
  --crm-c-red: #f9f1f4;
  --crm-c-teal: #399389;
  /* Practical colours */
  --crm-link-color: var(--gin-color-primary);
  --crm-link-hover-color: var(--gin-color-primary-hover);
  --crm-focus-color: var(--gin-color-focus);
  --crm-text-color: var(--gin-color-text);
  --crm-border-color: var(--gin-border-color);
  --crm-container-bg-color: var(--gin-bg-layer);
  --crm-layer1-bg-color: var(--gin-bg-layer);
  --crm-layer2-bg-color: var(--gin-bg-layer2);
  --crm-paper: var(--gin-bg-app);
  /* Emphasis colours */
  --crm-primary-color: var(--gin-color-primary);
  --crm-primary-hover-color: var(--gin-color-primary-hover);
  --crm-primary-text-color: var(--gin-color-text);
  --crm-primary-hover-text-color: var(--gin-color-text);
  --crm-primary-ink-color: var(--gin-color-primary-hover); /* color on page bg */
  --crm-secondary-color: var(--gin-color-accent);
  --crm-secondary-hover-color: var(--gin-color-accent-hover);
  --crm-secondary-text-color: var(--gin-color-text);
  --crm-secondary-hover-text-color: var(--gin-color-text-light);
  --crm-secondary-ink-color: var(--crm-secondary-hover-color);
  --crm-success-color: var(--gin-color-green); /* Main colour for emphasis */
  --crm-success-text-color: var(--gin-color-text); /* Text colour on top */
  --crm-success-light-color: var(--gin-color-green-light); /* Lighter version of main colour for backgrounds */
  --crm-success-ink-color: var(--gin-color-green);
  --crm-warning-color: var(--gin-color-warning);
  --crm-warning-text-color: var(--gin-color-text);
  --crm-warning-light-color: var(--gin-color-warning-light);
  --crm-warning-ink-color: var(--crm-warning-color);
  --crm-danger-color: var(--gin-color-danger);
  --crm-danger-text-color: var(--gin-color-danger);
  --crm-danger-light-color: var(--gin-color-danger-light);
  --crm-danger-ink-color: var(--crm-danger-color);
  --crm-info-color: var(--gin-color-info);
  --crm-info-text-color: var(--gin-color-text);
  --crm-info-light-color: var(--gin-color-info-light);
  --crm-info-ink-color: var(--crm-info-color);
  /* Specific use colours */
  --crm-input-inline-edit-bg-color: var(--gin-bg-app);
  --crm-page-bg-color: var(--gin-bg-app);
  /* Shadows */
  --crm-shadow-popup: var(--gin-shadow-button);
  /* Sizes */
  --crm-l-radius: var(--gin-border-l);
  --crm-m-radius: var(--gin-border-m);
  --crm-s-radius: var(--gin-border-s);
  /* Type */
  --crm-font: var(--gin-font);
  --crm-heading-padding: var(--gin-spacing-m) var(--gin-spacing-l);
  --crm-heading-color: var(--gin-color-primary-active);
  --crm-heading-bg-color: var(--gin-bg-header);
  /* Buttons */
  --crm-btn-padding-block: 2px; /* padding for top and bottom, one value */
  --crm-btn-height: 31px;
  --crm-btn-icon-spacing: var(--gin-spacing-xs);
  --crm-btn-icon-size: var(--crm-btn-height);
  --crm-btn-cancel-bg-color: var(--crm-primary-color);
  --crm-btn-cancel-text-color: var(--crm-primary-text-color);
  --crm-btn-info-bg-color: var(--crm-primary-color);
  --crm-btn-info-text-color: var(--crm-primary-text-color);
  --crm-btn-warning-bg-color: var(--gin-color-warning-light);
  --crm-btn-warning-text-color: var(--gin-color-warning);
  --crm-btn-success-bg-color: var(--gin-color-green-light);
  --crm-btn-success-text-color: var(--gin-color-green);
  --crm-btn-danger-bg-color: var(--gin-color-danger-lightest);
  --crm-btn-danger-text-color: var(--gin-color-danger);
  --crm-btn-icon-bg-color: transparent;
  --crm-btn-icon-border: transparent;
  --crm-btn-icon-padding: var(--gin-spacing-s);
  --crm-btn-radius: var(--gin-border-m);
  /* Accordions */
  --crm-accordion-header-bg-color: transparent;
  --crm-accordion-header-bg-active-color: transparent;
  --crm-accordion-header-color: var(--crm-text-color);
  --crm-accordion-header-border: 0 solid transparent;
  --crm-accordion2-body-padding: var(--gin-spacing-m) var(--gin-spacing-l);
  --crm-accordion-radius: var(--gin-border-m);
  /* Alerts */
  --crm-alert-padding: var(--crm-l-reg);
  --crm-alert-success-text-color: var(--gin-color-green-light);
  --crm-alert-success-bg-color: var(--gin-bg-green);
  --crm-alert-info-text-color: var(--crm-c-blue-darker);
  --crm-alert-info-bg-color: var(--gin-bg-item-hover);
  --crm-alert-info-border-color: var(--gin-bg-item-hover);
  --crm-alert-danger-text-color: var(--crm-text-color);
  /* Form */
  --crm-form-block-box-shadow: var(--gin-shadow-l1);
  --crm-form-block-bg-color: var(--gin-bg-layer);
  --crm-form-block-padding: var(--crm-l-medium);
  --crm-form-block-border-radius: var(--crm-l-radius);
  --crm-form-fieldset-border-color: var(--crm-c-gray-400);
  --crm-form-fieldset-border-width: 1px 0 0 0;
  --crm-form-fieldset-padding: var(--crm-padding-reg) var(--crm-padding-small);
  --crm-form-checkbox-list-bg-color: var(--crm-table-row-hover-color);
  --crm-input-bg-color: var(--gin-bg-input);
  --crm-input-bg-image: linear-gradient(top, #eee 1%, #fff 15%);
  --crm-input-color: var(--crm-text-color);
  --crm-input-border-color: var(--gin-border-color-form-element);
  --crm-input-border-radius: var(--gin-border-m);
  --crm-input-active-transition: border-color .15s ease-in-out 0s;
  --crm-input-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
  --crm-input-padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  --crm-input-large-padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  --crm-input-height: calc(var(--input-padding-vertical) * 2 + var(--input-line-height));
  --crm-input-width: 15em;
  --crm-input-large-width: 25em;
  --crm-input-font-size: 100%;
  --crm-input-label-weight: bold;
  --crm-input-label-font: var(--crm-font);
  --crm-input-label-size: var(--crm-font-size);
  --crm-input-label-width: var(--crm-input-width);
  --crm-input-label-align: right;
  --crm-input-label-color: var(--crm-text-color);
  --crm-input-description: var(--crm-inactive-color);
  --crm-input-dropdown-icon: "\f107";
  --crm-input-radio-color: var(--crm-focus-color);
  --crm-input-select-bg-color: var(--crm-layer1-bg-color);
  --crm-input-inline-edit-border: 0 solid transparent;
  --crm-input-inline-edit-bg-color: var(--crm-container-bg-color);
  --crm-fieldset-border-color: var(--crm-c-gray-400);
  --crm-fieldset-border: 1px 0 0 0;
  --crm-fieldset-padding: var(--crm-padding-reg) var(--crm-padding-small);
  --crm-checkbox-list-bg: var(--crm-table-row-hover);
  --crm-input-toggle-width: 2.75rem;
  --crm-input-toggle-height: var(--crm-l-reg-4);
  --crm-input-toggle-disabled-bg: var(--crm-inverse-bg-color);
  --crm-input-toggle-enabled-bg: var(--crm-focus-color);
  --crm-input-toggle-button-bg: var(--crm-paper);
  /* Tabs */
  --crm-tabs-bg-color: transparent;
  --crm-tabs-border: none;
  --crm-tab-count-bg-color: var(--crm-c-blue-dark);
  --crm-tab-count-color: var(--crm-text-light-color);
  --crm-tab-border: 1px solid var(--crm-c-gray-400);
  --crm-tab-bg-active: var(--crm-container-bg-color);
  --crm-tab-radius: 2rem;
  --crm-tab-padding: var(--gin-spacing-m) var(--gin-spacing-l);
  /* Tables */
  --crm-table-bg-color: transparent;
  --crm-table-header-bg-color: transparent;
  --crm-table-outside-border: none;
  --crm-striped-bg-color: var(--gin-bg-app);
  /* Contact dashboard */
  --crm-contact-border: 0;
  --crm-contact-direction: grid; /* choose 'flex' for tabs at top, or 'grid' for tabs at side */
  --crm-contact-side-tabs-width: 200px;
  --crm-contact-tabs-flow: column; /* choose 'row' for tabs at top, or 'column' for tabs at side */
  --crm-contact-tabs-gap: var(--crm-l-medium);
  --crm-contact-tabs-bg-color: transparent;
  --crm-contact-tabs-padding: var(--crm-l-reg) 0;
  --crm-contact-tab-bg-color: transparent;
  --crm-contact-tab-hover-bg-color: var(--crm-container-bg-color);
  --crm-contact-tab-padding: var(--crm-l-medium-2) var(--gin-spacing-m) var(--crm-l-medium-2) var(--crm-l-reg);
  --crm-contact-tab-border: 1px solid transparent;
  --crm-contact-tab-hover-border: var(--crm-border);
  --crm-contact-tab-border-width: 1px 0 1px 1px; /* to remove border on one side for hanging tabs */
  --crm-contact-tab-width: auto; /* 100% to fill column width, auto to only cover contents */
  --crm-contact-tab-align: right;
  --crm-contact-tab-hang: 0 -1px 0 0; /* lip to extend tab flush with active region - set to 0 for no lip */
  --crm-contact-tab-radius: var(--crm-contact-radius) 0 0 var(--crm-contact-radius);
  --crm-contact-summary-row-bg-color: var(--crm-layer2-bg-color);
  --crm-contact-heading-inset: var(--crm-contact-side-tabs-width);
  --crm-contact-header-padding: var(--gin-spacing-m) var(--gin-spacing-l);
  --crm-contact-panel-padding: var(--crm-l-reg);
  --crm-contact-panel-bg-color: var(--crm-contact-tab-hover-bg-color);
  --crm-contact-panel-border: var(--crm-border);
  --crn-dash-panel-radius: var(--crm-contact-radius);
  --crm-contact-image-size: 100px;
  --crm-contact-image-radius: 200px;
  --crm-contact-image-right: 0; /* distance from right of dashboard */
  --crm-contact-image-top: -10px; /* distance from top of dashboard */
  --crm-contact-image-border: 0;
  /* Dialog */
  --crm-dialog-header-bg-color: var(--crm-c-gray-200);
  --crm-dialog-header-border-color: transparent;
  --crm-dialog-header-color: var(--crm-text-color);
  --crm-dialog-header-size: var(--crm-l-reg);
  --crm-dialog-header-padding: var(--crm-l-small) var(--gin-spacing-m) var(--crm-l-small) var(--crm-l-medium-2);
  --crm-dialog-header-radius: var(--crm-dialog-radius);
  --crm-dialog-body-bg-color: var(--crm-container-bg-color);
  --crm-dialog-body-padding: var(--crm-l-reg);
  /* Dashlet */
  --crm-dashlet-border: var(--crm-border);
  --crm-dashlet-padding: 0;
  --crm-dashlet-content-padding: var(--crm-l-medium);
  --crm-dashlet-radius: var(--crm-l-radius) var(--crm-l-radius) 0 0;
  --crm-dashlet-bg-color: var(--gin-bg-app);
  --crm-dashlet-header-bg-color: transparent;
  --crm-dashlet-tabs-border: 0;
  /* Button dropdowns */
  --crm-dropdown-bg-color: var(--gin-bg-app);
  --crm-dropdown-color: var(--gin-color-text);
  --crm-dropdown-hover-bg-color: var(--gin-bg-layer);
  --crm-dropdown-border: var(--gin-border-color);
  --crm-dropdown-width: 180px;
  --crm-dropdown2-bg-color: var(--gin-bg-layer2);
  /* Notifications */
  --crm-notify-bg-color: rgb(0,0,0);
  --crm-notify-padding: 10px 10px 15px 15px;
  --crm-notify-accent-border-width: 0 0 0 4px; /* adds a border to one/several sides of the notification - set to 0 for none */
  --crm-notify-radius: 0;
  /* Icons */
  --crm-icon-danger-color: var(--gin-color-danger);
  --crm-icon-success-color: var(--gin-color-green);
  --crm-icon-warning-color: var(--gin-color-warning);
  --crm-icon-info-color: var(--gin-color-info);
  /* Frontend */
  --crm-f-form-width: 800px;
  --crm-f-legend-align: unset;
  --crm-f-legend-size: var(--crm-l-reg-2);
  --crm-f-form-width: 50vw;
  --crm-f-label-position: unset; /* 'unset' = stacked, 'left' = left align, in combination with width below */
  --crm-f-label-align: left;
  --crm-f-label-margin: 0 var(--crm-l-small);
  --crm-f-label-width: unset;
  --crm-f-label-weight: bold;
  --crm-f-form-focus-bg-color: var(--crm-success-light-color);
  --crm-f-form-focus-border-color: var(--crm-success-color);
  --crm-f-form-focus-outline-color: unset;
  --crm-f-form-error-bg-color: var(--crm-danger-light-color);
  --crm-f-form-error-border-color: var(--crm-danger-color);
  --crm-f-form-error-outline-color: unset;
}
