.ui-dialog:has(.references-dialog-iframe) .ui-widget-content.ui-dialog-content {
  padding-inline: 0;
  margin-inline: var(--gin-spacing-m);
  background-color: transparent;
}

#references-dialog-page {
  fieldset.content-edit-settings {
    border: none;

    > .fieldset-wrapper {
      padding: 0;
    }
  }
}

.dialog-links {
  ul.references-dialog-links {
    li {
      a.add-dialog,
      a.edit-dialog,
      a.search-dialog {
        background-image: none;
        padding-inline-start: 0;
        display: inline-flex;

        &::before {
          content: '';
          mask-repeat: no-repeat;
          mask-position: center center;
          width: 1.5rem;
          height: 1.5rem;
          display: inline-block;
          margin-inline-end: var(--gin-spacing-xs);
          background-color: var(--gin-color-primary);
          mask-size: var(--gin-icon-size-default) var(--gin-icon-size-default);
        }
      }
      a.add-dialog::before {
        mask-image: var(--icon-plus);
      }

      a.edit-dialog::before {
        mask-image: var(--icon-pencil-fill);
      }

      a.search-dialog::before {
        mask-image: var(--icon-magnifying-glass);
      }
    }
  }
}

#references-dialog-page .view-content {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gin-spacing-m);

  .views-row {
    float: none;
    flex-basis: 20%;
    flex-grow: 1;
    border-color: var(--gin-border-color);
    border-radius: var(--gin-border-l);
    float: none;
    width: auto;
    margin: 0;
    padding: var(--gin-spacing-m);

    &:hover {
      background-color: var(--gin-bg-layer);
    }

    a {
      pointer-events: none;
    }
  }
}
