#gin-toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active {
  color: var(--tonic-bg-app);
}

#gin-toolbar-bar.js-settings-tray-edit-mode {
  background: var(--tonic-color-primary);
}

#gin-toolbar-bar.js-settings-tray-edit-mode button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover {
  background: var(--tonic-color-primary-hover);
}

#gin-toolbar-bar {
  position: fixed;

  .contextual-toolbar-tab {
    order: 100;
  }
}

#toolbar-bar.toolbar-bar.js-settings-tray-edit-mode {
  background-color: transparent;
  border-radius: var(--tonic-border-s);

  .toolbar-item,
  .toolbar-item.is-active:hover {
    background: var(--tonic-switch);
    border-radius: var(--tonic-border-s);

    &::before {
      background-color: #fff;
    }
  }

  button.toolbar-icon.toolbar-icon-edit.toolbar-item.is-active:hover {
    background-image: none;
  }
}

