/* Toolbar */
.admin-bar body {
  border-top: none !important;
  padding-top: 3.75rem;

}

html.admin-bar {
  #admin-bar {
    background: var(--tonic-bg-layer);
    color: #ddd;
    font-size: small;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1),
      0 2px 6px 2px rgba(0, 0, 0, .03);

    > div {

      // #admin-bar-wrapper.
      > ul {
        > li {
          // #admin-bar-icon, #admin-bar-menu, #admin-bar-extra.
          color: #ddd;


          > ul.dropdown {
            // main admin menu in dropdown mode.
            background-color: var(--tonic-bg-layer);


            a {
              border-top: none;
              background-image: none;
              background-color: var(--tonic-bg-layer);
            }

            ul {

              @include mq(medium) {
                padding: 0;

                a::before {
                  display: none;
                }

                a,
                span {
                  padding: 20px 2.75em 20px 1.25em;
                }
              }
            }


          }

          ul.dropdown {


            li,
            li.expandable {
              // padding: 1em 1.3333em;
              float: left;

            }

            li.expandable {
              li.expandable {
                > a::after {
                  background: var(--tonic-icon-color);
                  mask-repeat: no-repeat;
                  mask-position: center center;
                  mask-size: var(--tonic-icon-size-toolbar) var(--tonic-icon-size-toolbar);
                  mask-image: icon('open-right');
                  position: absolute;
                  top: 0;
                  right: 0.6667em;
                  display: block;
                  width: 1.25rem;
                  height: 100%;
                  content: "";
                }
              }

              a:hover,
              a.expanded-trail {
                color: var(--tonic-color-primary-hover);
                background: var(--tonic-bg-item-hover);
              }

              a.active:hover,
              a.active-trail:hover {
                background: var(--tonic-bg-item-hover);
              }

              ul ul {
                width: var(--tonic-toolbar-width);
                margin: -32px 0 0 var(--tonic-toolbar-width);
                background-color: var(--tonic-toolbar-bg-level2);
              }
            }
          }

          ul ul.dropdown.expanded {
            box-shadow: 0 8px 14px rgba(0, 0, 0, .15);
          }

          li {

            ul,
            li {
              width: var(--tonic-toolbar-width);
            }

          }

          a,
          span {
            color: var(--tonic-color-text);
            font-weight: var(--tonic-font-weight-normal);
            padding: 20px 1.25em 20px 2.75em;
            text-decoration: none;
            position: relative;
          }

          a.active,
          a.active-trail,
          a.expanded-trail,
          a.active:hover,
          a.active-trail:hover {
            color: var(--tonic-color-primary);
            text-decoration: none;
            text-shadow: none;
            background: transparent;
          }

          a.active::before {
            background: var(--tonic-color-primary);
          }

          a:hover {
            color: var(--tonic-color-primary-hover);
            background: var(--tonic-bg-item-hover);
          }

          a.active:hover,
          a.active-trail:hover {
            background: var(--tonic-bg-item-hover);
          }

          a::before,
          span::before {
            background: var(--tonic-icon-color);
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-size: var(--tonic-icon-size-toolbar) var(--tonic-icon-size-toolbar);
            mask-image: icon('drop');
            position: absolute;
            top: 0;
            left: 0.6667em;
            display: block;
            width: 1.25rem;
            height: 100%;
            content: "";
          }

          a:hover::before {
            background: var(--tonic-color-primary-hover);
          }

          a.admin-content {
            &:before {
              mask-image: icon('content');
            }
          }

          a.admin-structure {
            &:before {
              mask-image: icon('structure');
            }
          }

          a.admin-appearance {
            &:before {
              mask-image: icon('appearance');
            }
          }

          a.admin-modules {
            &:before {
              mask-image: icon('functionality');
            }
          }

          a.admin-config {
            &:before {
              mask-image: icon('config');
            }
          }

          a.admin-people {
            &:before {
              mask-image: icon('useraccount');
            }
          }

          a.admin-reports {
            &:before {
              mask-image: icon('reports');
            }
          }

          a.admin-dashboard {
            &:before {
              mask-image: icon('dashboard');
            }
          }

          a.user-counter {
            &:before {
              mask-image: icon('people');
            }
          }

          a.account {
            &:before {
              mask-image: icon('person');
            }
          }

          a.logout {
            &:before {
              mask-image: icon('logout');
            }
          }

          a.icon.escape {
            &:before {
              mask-image: icon('backtosite');
            }
          }

          span.page {
            &:before {
              mask-image: icon('info');
            }
          }
        }
      }

      > ul#admin-bar-icon {
        > li {
          ul.dropdown.expanded {
            box-shadow: 0 8px 14px rgba(0, 0, 0, .15);
          }
        }
      }

      #admin-bar-icon.dropdown,
      #admin-bar-extra.dropdown {
        ul.dropdown {
          width: var(--tonic-toolbar-width);

          li {
            width: var(--tonic-toolbar-width);

            ul {
              margin: -32px 0 0 var(--tonic-toolbar-width);
            }
          }

          a::before {
            display: none;
          }
        }
      }

      // Admin Toolbar QuickSearch
      .admin-bar-search {
        .form-type-search {
          padding: .75em 0;
          position: relative;
        }

        .form-type-search::before {
          left: var(--tonic-spacing-m);
          content: "";
          opacity: .75;
          display: block;
          width: var(--tonic-icon-size-toolbar-secondary);
          height: var(--tonic-icon-size-toolbar-secondary);
          position: absolute;
          top: calc(50% - var(--tonic-icon-size-toolbar-secondary) / 2);
          background-color: var(--tonic-icon-color);
          mask-image: icon('search');
          mask-size: 100% 100%;
          mask-position: center center;

        }

        #admin-bar-search-items {
          background-image: none;
          color: var(--tonic-color-text);
          width: 245px;
          padding-left: calc(var(--tonic-spacing-xl) + var(--tonic-spacing-xs));
          background-color: #fff;
          border: 1px solid var(--tonic-border-color);
          border-radius: 25px;
          box-sizing: border-box;
          min-height: auto;

          &:not(:hover):not(:focus) {
            box-shadow: none;
          }

          .tonic--dark-mode & {
            background-color: rgba(255, 255, 255, .075);
            border: 1px solid transparent;

            &:hover {
              border-color: var(--tonic-border-color-form-element);
            }
          }

          &:hover {
            border-color: var(--tonic-color-text);
            box-shadow: inset 0 0 0 1px var(--tonic-color-text);
          }


        }
      }
    }
  }
}
