/**
 * @file
 * Admin Toolbar menus styles.
 */
.toolbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.toolbar-menu a {
  display: block;
  line-height: 1;
}
.toolbar-menu .toolbar-link--has-icon {
  display: flex;
  align-items: center;
}
.toolbar-menu .toolbar-menu__item {
  list-style: none;
  padding-block-start: 0;
  word-break: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.toolbar-menu .toolbar-menu__item--to-title {
  margin-block: var(--space-s) var(--space-xs);
  margin-inline-start: var(--space-xs);
}
.toolbar-menu .toolbar-menu__item--level-2 {
  margin-inline-start: var(--space-m);
}

/* Add extra bottom space to the main menu in the flyout. */
.cloned-flyout > .toolbar-menu {
  padding-block-end: var(--space-l);
}

.toolbar-menu__submenu {
  flex: 1 0 100%;
}

/* Toolbar menu item. */
.toolbar-menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  font-weight: 700;
  position: relative;
  flex-wrap: nowrap;
}
.toolbar-menu__item.toolbar-menu__item--expanded > .toolbar-link {
  color: var(--color-blue-700);
}
.toolbar-menu__item.current > .toolbar-link {
  color: var(--color-blue-600);
}
.toolbar-menu__item:not(.toolbar-menu__item--expanded) > .toolbar-menu__submenu, .toolbar-menu__item:not(.toolbar-menu__item--expanded) > ul.toolbar-menu {
  display: none;
}
.toolbar-menu__item:not(.toolbar-menu__item--level-1) {
  white-space: normal;
}
.toolbar-menu__item .toolbar-menu {
  flex-basis: 100%;
}
.toolbar-menu__item.toolbar-menu__item--expanded:not(.current) > .toolbar-link {
  color: var(--color-gray-950);
}
.toolbar-menu__item.toolbar-menu__item--expanded:not(.current) > .toolbar-link::before {
  background-color: var(--color-gray-950);
}
.toolbar-menu__item.toolbar-menu__item--expanded:not(.current) > .toolbar-link:hover {
  color: var(--color-blue-700);
}
.toolbar-menu__item:not(.toolbar-menu__item--to-title) .toolbar-link:hover, .toolbar-menu__item:not(.toolbar-menu__item--to-title) .toolbar-link:focus {
  color: var(--color-blue-700);
}
.toolbar-menu__item:not(.toolbar-menu__item--to-title) .toolbar-link--has-icon:hover::before, .toolbar-menu__item:not(.toolbar-menu__item--to-title) .toolbar-link--has-icon:focus::before {
  background-color: var(--color-blue-700);
}
.toolbar-menu__item.toolbar-menu__item--has-dropdown.toolbar-menu__item--expanded {
  flex-wrap: wrap;
}

.toolbar-menu__item--level-2 .toolbar-menu__item--has-dropdown > button::after {
  -webkit-mask-size: var(--space-xs);
          mask-size: var(--space-xs);
}

/* Duplicated level-1 toolbar-link to use as title in the flyout. */
.toolbar-menu__item--to-title {
  color: var(--color-gray-800);
  justify-content: flex-start;
  align-items: center;
}
.toolbar-menu__item--to-title .toolbar-link__label {
  margin-inline-start: var(--space-xs);
}

.toolbar-menu__item--user {
  margin-block-start: 10px;
}
.toolbar-menu__item--user .navigation-box, .toolbar-menu__item--user .toolbar-menu__item--has-dropdown > button[aria-expanded=true] {
  background-color: transparent;
}
.toolbar-menu__item--user .toolbar-menu__item {
  background-color: transparent;
}

.toolbar-menu__item--level-1 {
  border-radius: var(--space-xs);
  font-size: var(--font-size-s);
  white-space: nowrap;
}
.toolbar-menu__item--level-1.toolbar-menu__item--expanded {
  background-color: var(--color-gray-050);
}
.toolbar-menu__item--level-1 > .toolbar-link {
  padding-inline: 5px 10px;
  border-radius: var(--space-xs);
}
.toolbar-menu__item--level-1 > .toolbar-link:hover, .toolbar-menu__item--level-1 > .toolbar-link:focus {
  background-color: var(--color-gray-050);
}
.toolbar-menu__item--level-1 > .toolbar-link:focus {
  outline-offset: 0;
}
.toolbar-menu__item--level-1 > .toolbar-menu__item--has-dropdown > button {
  inline-size: 40px;
  block-size: 40px;
}
.toolbar-menu__item--level-1.toolbar-menu__item--expanded, .toolbar-menu__item--level-1.current {
  background-color: var(--color-gray-050);
}
.toolbar-menu__item--level-1.toolbar-menu__item--expanded {
  font-weight: 700;
}
.toolbar-menu__item--level-1 .toolbar-menu > .toolbar-menu__item--to-title {
  display: none;
}

/* Current page dot indicator. */
.toolbar-menu__item--level-2,
.toolbar-menu__item--level-3 {
  position: relative;
  font-size: var(--font-size-xs);
}
.toolbar-menu__item--level-2.current > .toolbar-link::after,
.toolbar-menu__item--level-3.current > .toolbar-link::after {
  content: "";
  inline-size: var(--space-xs);
  block-size: var(--space-xs);
  position: absolute;
  left: -11px;
  top: 10px;
  border-radius: 50%;
  background-color: var(--color-blue-600);
  z-index: 1;
}
.toolbar-menu__item--level-2:not(.current) > .toolbar-link:hover::before,
.toolbar-menu__item--level-3:not(.current) > .toolbar-link:hover::before {
  background-color: var(--color-blue-700);
  inline-size: 2px;
}

/* Left grey border for submenu items. */
.toolbar-menu__item--level-2 > .toolbar-link::before,
.toolbar-menu__item--level-3 > .toolbar-link::before,
.toolbar-menu__item--level-2.toolbar-menu__item--expanded > .toolbar-menu::before {
  content: "";
  block-size: 100%;
  inline-size: 1px;
  position: absolute;
  left: -8px;
  top: 0;
  background-color: var(--color-gray-300);
}

.toolbar-menu__item--level-2.toolbar-menu__item--expanded > .toolbar-menu::before {
  left: 0;
}

.toolbar-menu__item--level-2 .toolbar-link {
  font-weight: 600;
}
.toolbar-menu__item--level-2 .toolbar-link:hover {
  /* umami override */
  background-color: var(--color-gray-050);
  z-index: 9;
}
.toolbar-menu__item--level-2 > .toolbar-link {
  padding-inline: var(--space-xs);
  margin-inline-start: var(--space-xs);
}
.toolbar-menu__item--level-2 > .toolbar-menu {
  padding-block: var(--space-xs);
}

.toolbar-menu__item--level-3.toolbar-menu__item {
  margin-inline-start: var(--space-l);
}
.toolbar-menu__item--level-3.toolbar-menu__item > .toolbar-link {
  padding-inline-start: var(--space-s);
}

/* Collapsed styles.*/
html:not(.admin-toolbar-expanded) {
  /* First level specific styles. */
  /* Cloned flyout. */
}
html:not(.admin-toolbar-expanded) .admin-toolbar__item > .toolbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html:not(.admin-toolbar-expanded) .toolbar-menu__item--level-1 {
  display: inline-block;
}
html:not(.admin-toolbar-expanded) .toolbar-menu__item--level-1 > .toolbar-link span, html:not(.admin-toolbar-expanded) .toolbar-menu__item--level-1 > .toolbar-menu__item--has-dropdown > button {
  display: none;
  opacity: 0;
}
html:not(.admin-toolbar-expanded) .toolbar-menu__item--level-1 > .toolbar-menu__submenu {
  display: none;
}
html:not(.admin-toolbar-expanded) .toolbar-menu__item--level-1 .toolbar-menu__item--to-title {
  display: inline-block;
}
html:not(.admin-toolbar-expanded) .toolbar-menu__submenu {
  position: relative;
}
html:not(.admin-toolbar-expanded) .cloned-flyout {
  position: absolute;
  top: 0;
  left: calc(100% + 8px);
  width: 248px;
  background-color: var(--color-gray-050);
  border-radius: var(--space-xs);
  padding-inline-end: var(--space-xs);
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.14);
  height: -moz-fit-content;
  height: fit-content;
  z-index: 601;
}
html:not(.admin-toolbar-expanded) .cloned-flyout .toolbar-menu__arrow-ref {
  display: block;
  position: absolute;
  inline-size: 46px;
  block-size: 46px;
  display: flex;
  align-items: center;
  margin-inline-start: -2px;
}
html:not(.admin-toolbar-expanded) .cloned-flyout .toolbar-menu__arrow-ref::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--color-gray-050);
  transform: rotate(45deg);
  z-index: 20;
}
html:not(.admin-toolbar-expanded) .cloned-flyout .toolbar-menu__item--level-2 {
  margin-inline-start: calc(var(--space-l) + var(--space-xs));
}

.toolbar-menu__arrow-ref {
  display: none;
}/*# sourceMappingURL=toolbar-menu.css.map */