/**
 * @file
 * Toolbar linke styles.
 */
.toolbar-link {
  position: relative;
  padding-block: 10px;
  padding-inline: 0;
  color: var(--color-gray-800);
  text-decoration: none;
  flex-grow: 1;
  font-weight: 700;
  border-radius: var(--space-xs);
  line-height: 1.2;
  background: none;
  border: none;
}
.toolbar-link:hover {
  z-index: 20;
}
.toolbar-link + .toolbar-menu__item--has-dropdown > button {
  margin-inline-start: 4px;
}

/**
 * Specific styles when toolbar-link is a button that toggles a submenu or
 * content.
 */
button.toolbar-link {
  border: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  /* Chevron styles. */
}
button.toolbar-link:not(.toolbar-link--sidebar-toggle)::after {
  display: block;
  block-size: var(--space-s);
  inline-size: var(--space-s);
  -webkit-mask-size: var(--space-s);
          mask-size: var(--space-s);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  background-color: var(--color-gray-500);
  -webkit-mask-image: icon("chevron-down");
          mask-image: icon("chevron-down");
  content: "";
  margin-inline-start: auto;
}
button.toolbar-link:hover::after, button.toolbar-link:focus::after {
  background-color: var(--color-blue-700);
}
button.toolbar-link + a {
  margin-inline-end: var(--space-xl);
}

/* Chevron styles when the item is expanded. */
.toolbar-menu__item--expanded.toolbar-menu__item--has-dropdown > button::after {
  transform: rotate(180deg);
}

/* Sidebar collapsed styles.*/
html:not(.admin-toolbar-expanded) {
  /* Specific styles for the title duplicated for the flyout. */
  /* Hide the chevron when toolbar collapsed. */
}
html:not(.admin-toolbar-expanded) .toolbar-link {
  padding-inline: 10px;
  padding-block: 10px;
  flex-grow: unset;
  flex-basis: 100%;
}
html:not(.admin-toolbar-expanded) .toolbar-menu__item--to-title > .toolbar-link {
  display: flex;
  align-items: center;
}
html:not(.admin-toolbar-expanded) .toolbar-menu__item--to-title > .toolbar-link:hover {
  background-color: unset;
}
html:not(.admin-toolbar-expanded) .toolbar-menu__item--has-dropdown.toolbar-menu__item--level-1 > button.toolbar-link::after,
html:not(.admin-toolbar-expanded) .toolbar-menu__item--to-title > button.toolbar-link::after {
  content: unset;
}

.toolbar-link--sidebar-toogle {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}
.toolbar-link--sidebar-toogle:hover, .toolbar-link--sidebar-toogle:focus {
  background-color: var(--color-gray-050);
}

.toolbar-link--has-icon {
  display: flex;
  align-items: center;
}
.toolbar-link--has-icon span {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.toolbar-link--has-icon::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background-color: var(--color-gray-800);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
  -webkit-mask-image: var(--icon);
          mask-image: var(--icon);
}

.admin-toolbar-expanded .toolbar-link--has-icon::before {
  margin-inline-end: 10px;
}

.current > .toolbar-link--has-icon::before {
  background-color: var(--color-blue-600);
}

/* Visually-hidden button text. */
.toolbar-link__action {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}/*# sourceMappingURL=toolbar-link.css.map */