.action-link,
.operations > li {
  float: none;
  color: var(--gin-color-primary);
  background: transparent;
  border-radius: var(--gin-border-s);

  &:before {
    background-image: none;
    background: var(--gin-color-primary) !important;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &--icon-plus:hover:before,
  &--icon-ex:hover::before,
  &--icon-checkmark:hover:before,
  &--icon-show:hover::before,
  &--icon-cog:hover::before,
  &--icon-hide:hover::before,
  &--icon-show:before,
  &--icon-hide:before {
    background-image: none;
    background-color: var(--gin-color-primary);
  }

  &--icon-plus:before {
    mask-image: icon('add');
  }

  &.default a:before,
  &.enable-default a:before,
  &--icon-checkmark:before {
    mask-image: icon('checkmark');
  }

  &.settings a:before {
    mask-image: icon('config');
  }

  &.disable a:before {
    mask-image: icon('remove');
  }

  &.enable a:before {
    mask-image: icon('add');
  }

  &--icon-key::before {
    mask-image: icon('devel');
  }

  &--icon-questionmark::before {
    mask-image: icon('help');
  }

  > a {
    color: var(--gin-color-primary);
    background-color: transparent;
    border-radius: var(--gin-border-s);
    padding: calc(var(--gin-spacing-s) - ((var(--gin-spacing-l) - var(--gin-spacing-s)) / 2)) var(--gin-spacing-s);
    margin-inline-start: var(--gin-spacing-xs);

    &:hover {
      color: var(--gin-color-primary-hover);
      background-color: var(--gin-bg-item-hover);
    }

    &:focus {
      color: var(--gin-color-primary-active);
      background-color: var(--gin-color-primary-light-hover);
    }

    &.action-link--extrasmall {
      font-size: var(--gin-font-size-xxs);
    }

    &:before {
      background-image: none;
      background-color: var(--gin-color-primary);
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      content: "";
      position: relative;
      display: inline-block;
      inset-block-start: 0.0625rem;
      width: var(--gin-spacing-s);
      height: var(--gin-spacing-s);
      margin-inline: -0.125rem 0.4em;
    }
  }
}

.action-link {
  &:hover {
    color: var(--gin-color-primary-hover);
    background: var(--gin-bg-item-hover);
  }

  &:focus {
    color: var(--gin-color-primary-active);
    background: var(--gin-color-primary-light-hover);
  }

  &.action-link--extrasmall {
    font-size: var(--gin-font-size-xxs);
  }
}

.action-link--icon-trash.action-link--danger,
.button.button--danger,
a.button.button--danger {
  color: var(--gin-color-danger);
  box-shadow: 0 1px 2px var(--gin-color-danger-lightest);
  min-height: 0;

  &::before {
    display: none;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: var(--gin-color-danger) !important;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--gin-bg-layer);
    background-color: var(--gin-color-danger);
  }
}

// Primary danger button
.button-primary.button--danger,
a.button-primary.button--danger {
  color: var(--gin-bg-layer);
  background-color: var(--gin-color-danger);
}

.theme-selector .operations li.first,
.theme-selector .operations li.last,
.theme-selector .operations li {
  padding: 0;
}
