.button,
.project__action_button,
.dropbutton__item:first-of-type > *,
.dropbutton__toggle {
  font-size: var(--gin-font-size-s);
  font-weight: var(--gin-font-weight-semibold);
  color: var(--gin-color-primary);
  background-color: transparent;
  box-shadow: none;
  transition: var(--gin-transition);

  @include mq(wide) {
    font-size: var(--gin-font-size);
  }

  &:hover {
    background-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    background-color: var(--gin-color-primary-active);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-button-text);
  }
}

.button,
.form-actions .button,
.project__action_button,
.action-link--icon-trash.action-link {
  font-size: var(--gin-font-size-s);
  padding-block: calc(var(--gin-spacing-s) - 2px);
  padding-inline: var(--gin-spacing-m);
  border: 2px solid var(--gin-color-primary);
  border-radius: var(--gin-border-m);
  box-shadow: 0 1px 2px var(--gin-color-primary-light);
  transition: var(--gin-transition);

  &:hover {
    background-color: var(--gin-color-primary-hover);
    border-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    border-color: var(--gin-color-primary-active);
  }

  &:hover,
  &:active,
  &:focus,
  &:hover:focus {
    color: var(--gin-color-button-text);
  }
}

.form-actions .button,
input.button {
  margin: var(--gin-spacing-xxs);

  & + a {
    margin-inline-start: var(--gin-spacing-xs);
  }
}

.button.button--small {
  font-size: var(--gin-font-size-xxs);
  padding-block: calc(var(--gin-spacing-xxs) + 2px);
  padding-inline: var(--gin-spacing-s);
  border-radius: var(--gin-border-s);
}

.button.button--extrasmall {
  font-size: var(--gin-font-size-xxs);
  padding-block: var(--gin-spacing-xxs);
  padding-inline: var(--gin-spacing-s);
  border-radius: var(--gin-border-s);
}

a.button {
  color: var(--gin-color-primary);

  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-button-text);
  }

}

#edit-submit.form-submit,
a.button-primary,
a.button-primary:not(:focus)
.ief-entity-submit {
  background: var(--gin-color-primary);
  box-shadow: .1em .25em .5em var(--gin-color-primary-light);

  &:hover,
  &:focus {
    background-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    background-color: var(--gin-color-primary-active);
  }

  &,
  &:hover,
  &:active,
  &:focus,
  &:focus:hover {
    color: var(--gin-color-button-text);

    .gin--dark-mode & {
      color: var(--gin-bg-app);
    }
  }
}

.button.button:disabled,
.button.button.is-disabled {

  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-disabled);
    background: transparent;
    border: 2px solid var(--gin-color-disabled-border);
    box-shadow: none;
  }
}

.button.button-primary:disabled,
.button.button-primary.is-disabled {

  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-disabled);
    background-color: var(--gin-color-disabled-bg);
  }
}

.action-link.action-link--icon-trash {
  line-height: 1;
  min-height: 2.5rem;
  box-sizing: border-box;

  &, &:hover, &:active, &:focus, &:focus:hover {
    border: 2px solid var(--gin-color-danger) !important;
  }
}

// Autocomplete field remove button
.multiple-fields-remove-button.button {
  border: 0 none !important;
  mask-image: icon('remove');
  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.button-danger,
.button-primary.button-danger,
a.form-delete,
.form-actions a.form-delete,
.file-remove-button {

  border: 2px solid var(--gin-color-danger) !important;
  background-color: var(--gin-color-danger-light);
  color: #000;
  box-shadow: .1em .25em .5em var(--gin-color-danger-lightest);

  &:focus,
  &:hover {
    background-color: var(--gin-color-danger);
    border: 2px solid var(--gin-color-danger-light);
    color: #fff;
  }
}

.button-secondary {
  font-weight: var(--gin-font-weight-normal);
}

.confirmation {
  .button-danger {

    &,
    &:focus,
    &:hover {
      background-color: var(--gin-color-danger);
      border: 2px solid var(--gin-color-danger-light);
      color: #fff;
    }

    &:focus,
    &:hover {
      border: 2px solid var(--gin-color-danger);
      box-shadow: .1em .25em .5em var(--gin-color-danger-light);
    }
  }
}

ul.layout-action-links {
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;

  li {
    display: inline-block;

    a.layout-button-link {
      margin: 0 var(--gin-spacing-xs);
      padding: var(--gin-spacing-xs);
      font-size: var(--gin-font-size-s);
    }
  }
}

ul .layout-condition {
  a.layout-button-link {
    margin: 0 var(--gin-spacing-xs);
    padding: var(--gin-spacing-xs);
    font-size: var(--gin-font-size-s);
  }
}
