.button,
.dropbutton__item:first-of-type > *,
.dropbutton__toggle {
  font-size: var(--gin-font-size-s);
  font-weight: var(--gin-font-weight-semibold);
  color: var(--gin-color-primary);
  background-color: transparent;
  box-shadow: none;
  transition: var(--gin-transition);

  @include mq(wide) {
    font-size: var(--gin-font-size);
  }

  &:hover {
    background-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    background-color: var(--gin-color-primary-active);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-button-text);
  }
}

.button,
.form-actions .button,
.action-link--icon-trash.action-link {
  padding: var(--gin-spacing-s) var(--gin-spacing-m);
  border: 2px solid var(--gin-color-primary);
  border-radius: var(--gin-border-m);
  box-shadow: 0 1px 2px var(--gin-color-primary-light);
  transition: var(--gin-transition);

  &:hover {
    background-color: var(--gin-color-primary-hover);
    border-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    border-color: var(--gin-color-primary-active);
  }

  &:hover,
  &:active,
  &:focus,
  &:hover:focus {
    color: var(--gin-color-button-text);
  }
}

.form-actions .button,
input.button {
  margin: var(--gin-spacing-xxs);

  & + a {
    margin-left: var(--gin-spacing-xs);
  }
}

.button.button--small {
  padding: var(--gin-spacing-xs) var(--gin-spacing-m);
  border-radius: var(--gin-border-s);
}

.button.button--extrasmall {
  padding: var(--gin-spacing-xxs) var(--gin-spacing-s);
  border-radius: var(--gin-border-s);
}

a.button {
  color: var(--gin-color-primary);

  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-button-text);
  }

}

a.button-primary,
.ief-entity-submit {
  background: var(--gin-color-primary);
  box-shadow: .1em .25em .5em var(--gin-color-primary-light);

  &:hover,
  &:focus {
    background-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    background-color: var(--gin-color-primary-active);
  }

  &,
  &:hover,
  &:active,
  &:focus,
  &:focus:hover {
    color: var(--gin-color-button-text);

    .gin--dark-mode & {
      color: var(--gin-bg-app);
    }
  }
}

.button.button:disabled,
.button.button.is-disabled {

  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-disabled);
    background: transparent;
    border: 2px solid var(--gin-color-disabled-border);
    box-shadow: none;
  }
}

.button.button-primary:disabled,
.button.button-primary.is-disabled {

  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-disabled);
    background-color: var(--gin-color-disabled-bg);
  }
}

.action-link.action-link--icon-trash {
  min-height: 48px;
  padding: calc(var(--gin-spacing-s) - 1px) calc(var(--gin-spacing-l) - 2px);
  box-sizing: border-box;

  &,
  &:hover,
  &:active,
  &:focus,
  &:focus:hover {
    border: 2px solid var(--gin-color-danger-light);
  }
}

// Autocomplete field remove button
.multiple-fields-remove-button.button {
  border: 0 none !important;
  mask-image: icon('remove');
  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.button-danger,
.button-primary.button-danger,
.form-delete,
.file-remove-button {

  border: 2px solid var(--gin-color-danger-light);
  color: var(--gin-color-danger);
  box-shadow: .1em .25em .5em var(--gin-color-danger-lightest);

  &:focus,
  &:hover {
    background-color: var(--gin-color-danger);
    border: 2px solid var(--gin-color-danger);
    color: #fff;
  }
}

.button-secondary {
  font-weight: var(--gin-font-weight-normal);
}

.confirmation {
  .button-danger {

    &,
    &:focus,
    &:hover {
      background-color: var(--gin-color-danger);
      border: 2px solid var(--gin-color-danger-light);
      color: #fff;
    }

    &:focus,
    &:hover {
      border: 2px solid var(--gin-color-danger);
      box-shadow: .1em .25em .5em var(--gin-color-danger-light);
    }
  }
}
