// Summary
details summary {
  padding: var(--tonic-spacing-m);
  background-color: rgba(#e6e4df, .2);
}

// Form--inline fixes
.form--inline,
.views-bulk-form,
.layout-region-node-footer__content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: var(--tonic-spacing-m);

  .form-item,
  .form-actions {
    margin: var(--tonic-spacing-xs) var(--tonic-spacing-xs) var(--tonic-spacing-xs) 0;
    align-self: flex-start;
  }

  .button,
  .action-link {
    margin-top: 0;
    margin-bottom: 0;
  }

  .field-add-more-submit {
    margin-top: var(--tonic-spacing-s);
  }
}
