.dropbutton {
  border: 2px solid var(--tonic-color-primary);
  border-radius: var(--tonic-border-m);
  box-shadow: 0 1px 2px var(--tonic-color-primary-light);
  display: block;
  overflow: visible;
  margin: 0;
  list-style: none;

  // Offset for select button on first item
  &-multiple > li {
    height: 100%;
    margin-right: var(--tonic-spacing-xxl);
    border-right: 1px solid var(--tonic-color-primary-light-active);

    input {
      color: var(--tonic-color-primary);
      height: 100%;
      background-color: transparent;
      border: 0 none !important;
      border-radius: 0 !important;
    }

    a {

      &:hover,
      &:active,
      &:focus {
        color: var(--tonic-color-button-text);
        background: var(--tonic-color-primary);
        border-radius: var(--tonic-border-s);
      }
    }
  }

  .tonic--dark-mode & {
    box-shadow: 0 4px 18px var(--tonic-shadow-button);
  }

  &:hover {
    border-color: var(--tonic-color-primary);
  }

  &:active,
  &:focus {
    border-color: var(--tonic-color-primary-active);
  }

  &-wrapper {
    box-shadow: none;
    display: inline-flex;
    border-radius: var(--tonic-border-m);

  }

     .dropbutton-toggle {
  > li:first-of-type > *,
  > button {
    background: none;
    white-space: nowrap;
  }

  >li:first-of-type > * {
    padding: calc(.875rem - 1px) calc(var(--tonic-spacing-l) - 1px);
  }

   > button {
    top: 2px;
    right: 2px;
    width: calc(var(--tonic-spacing-xxl) + 1px);
    height: 2.75rem;

    &:hover {
      background-color: var(--tonic-color-primary);
    }

    &::before {
      background-image: none;
      background-color: var(--tonic-color-primary);
      mask-image: icon('drop');
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 12px 12px;
    }

    &:hover::before,
    &:active::before,
    &:focus::before {
      background-color: var(--tonic-color-button-text);
    }
  }}

  & &__items {
    position: absolute;
    right: 0;
    list-style: none;
    padding: .5em;
    margin: 0;
    min-width: 120px;
    background: var(--tonic-bg-layer3);
    border-radius: var(--tonic-border-l);
    box-shadow: var(--tonic-shadow-l2);

    .node-form & {
      left: 0;
      right: auto;
    }
  }

  & > &__items > li {

    > a,
    > input,
    > .button {
      border-radius: var(--tonic-border-s) var(--tonic-border-s) 0 0;
    }
  }

  // The ugly part: make it work for all different dropbutton versions out there
  &:not(.dropbutton--tonic) > .dropbutton-action ~ .dropbutton-action,
  & &__items > .dropbutton-action,
  & &__items > .dropbutton-action ~ .dropbutton-action {
    background-color: var(--tonic-bg-app);
    border: 0 none;
    box-shadow: none;

    &:first-of-type {
      margin-right: 0;
    }

    // Mutiple Dropbutton only has one item
    &:first-of-type:last-of-type > * {
      .js .dropbutton--multiple & {
        border-radius: var(--tonic-border-s);
      }
    }

    > a,
    > input,
    > .button {
      font-weight: var(--tonic-font-weight-heavy);
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: var(--tonic-color-primary);
      display: block;
      width: 100%;
      max-width: 320px;
      margin: 0;
      border: 0 none !important;
      border-radius: 0;
      background: var(--tonic-bg-layer3);
      box-shadow: none;
      box-sizing: border-box;

      &:hover,
      &:active,
      &:focus {
        color: var(--tonic-color-button-text);
        background: var(--tonic-color-primary);
        border-radius: var(--tonic-border-s);
      }
    }
  }

  & > li {

    > a,
    > input,
    > .button {

      &:hover,
      &:active,
      &:focus {
        color: var(--tonic-color-button-text);
        background: var(--tonic-color-primary);
      }
    }
  }

  & &__items > .dropbutton-action {
    border-radius: var(--tonic-border-s);
  }

  &:not(.dropbutton--tonic) > .dropbutton-action:not(:first-of-type),
  & &__items > .dropbutton-action,
  & > &__items > .dropbutton-action ~ .dropbutton-action {

    > a,
    > input,
    > .button {
      font-size: var(--tonic-font-size-s) !important;
      padding: .75em 1em !important;
    }
  }

  &__item:first-of-type ~ .dropbutton-action {
    max-width: unset;

    & > *:hover {
      background-color: var(--tonic-bg-layer3);
    }

    &__item ~ .dropbutton-action:last-child {
      border-color: var(--tonic-color-primary);
    }
  }
}

html.js {
  .dropbutton {
    box-sizing: border-box;
  }

  .dropbutton-wrapper:not(.open) .dropbutton-action:first-of-type ~ .dropbutton-actions {
    display: none;
  }

  .dropbutton-wrapper:not(.open) .dropbutton-actions .dropbutton-action:first-of-type ~ .dropbutton-action {
    display: block;
  }

  .dropbutton-widget {
    background-color: transparent;
    border-radius: var(--tonic-border-m);
    position: relative;
    flex: 1 1 auto;
  }
}

html.js.no-touchevents {
  .dropbutton--multiple.dropbutton--small .dropbutton-action:first-of-type {
    margin-right: 0;
  }

  .dropbutton--multiple.dropbutton--small > li {
    margin-right: var(--tonic-spacing-xl);
  }

  .dropbutton--multiple.dropbutton--extrasmall > li {
    margin-right: var(--tonic-spacing-l);
  }

  .dropbutton--small {
    min-width: 0;
    height: 2.25rem;
    min-height: 2.25rem;
    border-radius: var(--tonic-border-s);
  }

  .dropbutton--extrasmall {
    min-width: 0;
    height: 1.75rem;
    min-height: 1.75rem;
    border-radius: var(--tonic-border-s);
  }

  .dropbutton--multiple.dropbutton--extrasmall .dropbutton-actions .dropbutton-action {
    margin-right: 0;
  }
}

// Last item in table
table tr:not(:first-of-type):nth-last-child(2) td .dropbutton-actions,
table tr:not(:first-of-type):last-of-type td .dropbutton-actions {
  bottom: 100%;
}
