.js {
  .dropbutton-widget {
    border-color: var(--gin-color-primary);
    border-width: 2px;
    border-radius: var(--gin-border-m);
  }

  .dropbutton-widget:hover {
    border-color: var(--gin-color-primary-hover);
  }

  .dropbutton {

    a,
    li {
      text-align: start;
    }

    a {
      font-weight: var(--gin-font-weight-semibold);
      font-size: var(--gin-font-size-xs);
      float: none;
      margin: 0;
    }

    button:hover,
    a:hover,
    button:focus,
    a:focus {
      background-color: var(--gin-color-primary-hover);
      color: #fff;
      text-decoration: none;
    }

    .dropbutton-action {
      > * {
        padding: var(--gin-spacing-xxs) var(--gin-spacing-s);
      }
    }
  }

  .dropbutton-multiple {
    .dropbutton {

      a,
      a:hover,
      a:focus {
        border-radius: 0;
      }

      li.first {
        a {
          border-top-left-radius: var(--gin-border-m);
        }
      }

      li.last {
        a {
          border-bottom-left-radius: var(--gin-border-m);
        }
      }
    }
  }
}

.dropbutton-toggle {
  button {
    &::before {
      background-image: none;
      background-color: var(--gin-color-primary);
      mask-image: icon('drop');
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 12px 12px;
      width: 0.75rem;
      position: absolute;
      top: 50%;
      right: 50%;
      height: 0.5625rem;
      content: "";
      transform: translate(50%, -50%) rotate(0);
      background-size: contain;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: var(--gin-color-primary-hover);
    }

    &:hover::before,
    &:active::before,
    &:focus::before {
      background-color: #fff;
    }

    .dropbutton-arrow {
      display: none;
    }
  }
}

.dropbutton-wrapper.open {
  .dropbutton-toggle {
    button {
      &::before {
        transform: translate(50%, -50%) rotate(180deg);
      }
    }
  }
}

.gin--dark-mode.js {
  .dropbutton-widget {
    background-color: var(--gin-bg-input);
  }
}
