.draggable.field-plugin-settings-editing, .draggable.drag-previous.field-plugin-settings-editing {
  background: var(--tonic-bg-app);
}

.field-plugin-summary {
  font-size: var(--tonic-font-size-xs);
  color: var(--tonic-color-text-light);
}
