.l-wrapper-inner {
  margin-top: 0;

  > .help,
  > .l-top,
  > .l-content,
  > .region-highlighted  {
    @include mq(small) {
      margin-top: var(--tonic-spacing-l);
    }
  }

  .admin-panel {
    @include mq(small) {
      margin-bottom: var(--tonic-spacing-l);
    }
  }

  .region .block {
    @include mq(small) {
      margin-top: var(--tonic-spacing-s);
    }
  }
}

.tonic-layer-wrapper,
.admin-panel,
.tonic-layer-wrapper-shadow,
.region .block,
.block-system > form,
form.views-exposed-form,
.view > .view-content,
.views-edit-view,
.views-preview-wrapper,
.modules-tabs,
.module-filter-update-status-form .table-filter,
#views-entity-list,
.admin.my-workbench {
  margin-top: 0;
  box-shadow: var(--tonic-shadow-l1);
  border-radius: var(--tonic-border-l);

  .tonic--dark-mode & {
    box-shadow: 0 6px 16px var(--tonic-border-color-layer);
  }

  .tonic--high-contrast-mode & {
    box-shadow: none;
  }
}

.tonic-layer-wrapper,
.admin-panel,
.region .block,
.block-system-main-block > form,
form.views-exposed-form,
.view > .view-content,
.views-edit-view,
.views-preview-wrapper,
#views-entity-list,
.module-filter-update-status-form .table-filter,
.admin.my-workbench {
  width: 100%;
  padding: var(--tonic-spacing-s);
  background: var(--tonic-bg-layer);
  border: 1px solid var(--tonic-border-color-layer);
  box-sizing: border-box;

  @include mq(small) {
    padding: var(--tonic-spacing-l);
  }

  // Remove extra spacing on top of form.
  > .form-wrapper:first-of-type .form-item,
  .layout-region-node-main > .form-wrapper:first-of-type .form-item {
    margin-top: 0;
  }
}

// Account for unwanted postentially nested layers.
.admin-panel {
  .tonic-layer-wrapper {
    background: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
  }

  > .body {
    padding: 0;

    .admin-item {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
