/* System overrides, Claro insertions, etc. */

// Default variables (may need adjustment later).
:root {
  --line-height: 1.5;

  // Default accents
  --tonic-color-primary-rgb: 5, 80, 230;
  --tonic-color-primary-hover: #0444c4;
  --tonic-color-primary-active: #043cad;
  --tonic-bg-header: #e1eafc;
  --tonic-color-primary: rgb(var(--tonic-color-primary-rgb));
  --tonic-color-primary-light: rgba(var(--tonic-color-primary-rgb), .15);
  --tonic-bg-app-rgb: 248, 250, 254;
  --tonic-bg-app: rgb(var(--tonic-bg-app-rgb));
  --tonic-color-sticky-rgb: 235, 241, 253;
  --tonic-bg-item-hover: rgba(var(--tonic-color-primary-rgb), .1);
  --tonic-color-primary-light-hover: rgba(var(--tonic-color-primary-rgb), .2);
  --tonic-color-primary-light-active: rgba(var(--tonic-color-primary-rgb), .3);
  --tonic-shadow-primary-light: rgba(var(--tonic-color-primary-rgb), .45);
}

ul {
  list-style-type: disc;
  list-style-image: none;
}

ul.primary {
  li {
    a {
      border-color: transparent;
      background-color: transparent;
    }
  }

  li.active {
    a {
      border-color: transparent;
    }
  }
}

.container-fluid {
  margin-left: min(5vw, var(--tonic-spacing-xxl));
  margin-right: min(5vw, var(--tonic-spacing-xxl));
}

html {
  font-family: var(--tonic-font);
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  line-height: var(--line-height);
}

table {
  width: 100%;
  margin-top: var(--tonic-spacing-l);
  margin-bottom: var(--tonic-spacing-l);
  border-collapse: collapse;
}

table.sticky-enabled {
  margin-top: 0;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 1rem;
  appearance: none;
}

.button--action::before {
  margin-left: -0.25em;
  padding-right: 0.25em;
  content: "+";
  font-weight: 900;
}

.tabs {
  display: flex;
  border: 0;
  box-shadow: none;
  margin: 0;
  flex-direction: row;
}

.tabs__link {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.2rem;
}

.admin-item__description {
  margin: 0.5em 0 0.25em;
}

#system-modules .search-reset {
  line-height: var(--tonic-line-height);
}

fieldset.form-wrapper {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;

  > legend {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: var(--tonic-border-m) var(--tonic-border-m) 0 0;
    margin: 0 -1px;
    padding: 0;
    background: transparent;
    width: calc(100% + 2px);
    min-width: calc(100% + 2px);
    border-radius: var(--tonic-border-m) var(--tonic-border-m) 0 0;
    border-top: 1px solid var(--tonic-border-color);
    border-left: 1px solid var(--tonic-border-color);
    border-right: 1px solid var(--tonic-border-color);

    .fieldset-legend {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      background: transparent;
      border-radius: var(--tonic-border-m);

      span.summary:empty {
        display: none;
      }

      .fieldset-title {
        display: block;
        color: var(--tonic-color-text);
        font-weight: var(--tonic-font-weight-bold);
        width: 100%;
        padding: var(--tonic-spacing-m) var(--tonic-spacing-l);
        margin: 0;
        background: transparent;
        border-radius: var(--tonic-border-m) var(--tonic-border-m) 0 0;
      }

      .fieldset-title::before {
        left: 1.125rem;
        position: relative;
        top: 50%;
        left: var(--tonic-spacing-s);
        display: inline-block;
        width: var(--tonic-spacing-m);
        text-align: center;
        height: var(--tonic-spacing-m);
        margin-top: calc(var(--tonic-spacing-m) / -2);
        margin-right: var(--tonic-spacing-m);
        content: "";
        background: var(--tonic-color-text);
        mask-image: icon('handle');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: 100% 100%;
        transform: rotate(-90deg);
        transition: transform var(--details-transform-transition-duration) ease-in 0s;
      }

      .fieldset-title:focus {
        background: var(--tonic-bg-item-hover);
        box-shadow: 0 0 0 1px var(--tonic-color-focus-border), 0 0 0 4px var(--tonic-color-focus);
      }
    }

    .fieldset-legend:hover {

      .fieldset-title {
        background: var(--tonic-bg-item-hover);
      }
    }
  }
}

fieldset.form-wrapper.collapsed {
  overflow: hidden;

  > legend {
    border-radius: var(--tonic-border-m);

    .fieldset-legend {
      .fieldset-title::before {
        transform: rotate(90deg);
      }
    }
  }
}

/* From Seven:
 * Responsive tables.
 */
@media screen and (max-width: 450px) {

  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {

  th.priority-low,
  td.priority-low {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .tableresponsive-toggle-columns {
    display: none;
  }
}


.l-content {
  margin-bottom: 5rem;
}

/* Toolbar overrides */
.admin-bar body {
  border-top: none !important;
  padding-top: 1.5rem;

}
#admin-bar {
  background: var(--tonic-bg-layer);
  color: #ddd;

  #admin-bar-menu {
    > li {
      .dropdown {
        > li {
          a {
            color: var(--tonic-color-text);
            font-weight: var(--tonic-font-weight-normal);
            font-size: small;
            padding: 20px 2.25rem 20px 3rem;
          }
        }
      }
    }
  }
}
