.block-system > .node-confirm-form,
.block-system > .confirmation {
  padding-top: var(--tonic-spacing-l);
}

.admin-panel > h3,
.system-status-general-info__header,
.system-status-report__requirements-group > h3,
.system-themes-list__header {
  font-size: var(--tonic-font-size-l);
  font-weight: var(--tonic-font-weight-bold);
  color: var(--tonic-color-primary-active);
  padding: var(--tonic-spacing-m) var(--tonic-spacing-l);
  margin-top: 0;
  background: var(--tonic-bg-header);
  border: 0 none;
  border-radius: var(--tonic-border-m);
}

.panel {
  padding: 0;

  &__title {
    margin: var(--tonic-spacing-s);
  }

  &__content {
    padding: 0;
  }

  .admin-list {
    margin: var(--tonic-spacing-s) 0;
  }
}
