blockquote {
  font-size: var(--tonic-font-size-quote);
  position: relative;
  padding-left: var(--tonic-spacing-l);
  margin: var(--tonic-spacing-m);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--tonic-color-primary);
    border-radius: 2px;
  }
}
