.system-modules,
.system-modules-uninstall {
  label {
    color: var(--gin-color-title);
  }

  details {
    color: var(--gin-color-text);
  }
}

div.admin-requirements,
div.admin-required {
  color: var(--gin-color-text-light);
  .admin-disabled,
  .admin-missing {
    color: var(--gin-color-danger);
  }
  .admin-enabled {
    color: var(--gin-color-text-light);
  }
}

.gin--dark-mode {
  #system-modules .table-filter {
    background-color: transparent;
  }

  .system-status-report {
    .status-title {
      color: #fff;
    }

    .status-description {
      color: var(--gin-color-text-light);
    }
  }
}
